<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lewczyk.pracainzynierska">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainMenus.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenus.UserMainMenuActivity" />
        <activity android:name=".MainMenus.CoachMainMenuActivity" />
        <activity android:name=".UserFeatures.UserNoteListActivity" />
        <activity android:name=".UserFeatures.UserNoteDetailsActivity" />
        <activity android:name=".UserFeatures.UserNoteEditActivity" />
        <activity android:name=".UserFeatures.ArchiveListActivity" />
        <activity android:name=".UserPersonalInfo.UserPersonalInfoMenuActivity" />
        <activity android:name=".UserExercise.UserExerciseMenuActivity" />
        <activity android:name=".UserPersonalInfo.ExercisePurposeListActivity" />
        <activity android:name=".UserPersonalInfo.ExercisePurposeDetailsActivity" />
        <activity android:name=".UserPersonalInfo.ExercisePurposeEditActivity" />
        <activity android:name=".UserPersonalInfo.BodyParameterListActivity" />
        <activity android:name=".UserPersonalInfo.BodyParameterDetailsActivity" />
        <activity android:name=".UserPersonalInfo.BodyParameterEditActivity" />
        <activity android:name=".UserFeatures.ArchiveDetailActivity" />
        <activity android:name=".CoachFeatures.CoachNoteListActivity" />
        <activity android:name=".CoachExercise.CoachExerciseListActivity" />
        <activity android:name=".CoachExercise.CoachExerciseToDoListActivity" />
        <activity android:name=".CoachFeatures.CoachNoteEditActivity" />
        <activity android:name=".CoachFeatures.CoachNoteDetailsActivity" />
        <activity android:name=".CoachExercise.CoachExerciseToDoDetailActivity" />
        <activity android:name=".CoachExercise.CoachExerciseToDoNewActivity" />
        <activity android:name=".CoachExercise.CoachNewExerciseActivity" />
        <activity android:name=".CoachExercise.CoachExerciseDetailActivity" />
        <activity android:name=".CoachExercise.CoachExerciseToDoNewExerciseDetailActivity" />
        <activity android:name=".UserExercise.UserExerciseToDoListActivity" />
        <activity android:name=".UserExercise.UserExerciseToDoDetailActivity" />
        <activity android:name=".UserExercise.UserExercisePlanListActivity" />
        <activity android:name=".UserExercise.UserExerciseListActivity" />
        <activity android:name=".UserExercise.UserExerciseDetailActivity" />
        <activity android:name=".UserExercise.UserExerciseParametersActivity" />
        <activity android:name=".UserExercise.UserExercisePlanExerciseListActivity" />
        <activity android:name=".UserExercise.ExecuteExerciseActivity"></activity>
    </application>

</manifest>